
footer{
    height: 80px;
    background-color: #000;
    line-height: 80px;
    text-align: center
}
.footer-link{
    cursor: pointer;
    display: inline-block;
    background: url(/static/media/icons2x.d5f0afa0.png);
    vertical-align: middle;
    background-size: 200px;
    background-position: -119px 2px;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.5);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-right: 15px;
    margin: 0 20px!important;
    &.footer-link--facebook{
        background-position: -59px -31px;
        &:hover{
            background-position: -59px -62px;
        }
    }
    &.footer-link--twitter{
        background-position: -89px -31px;
        &:hover{
            background-position: -89px -62px;
        }
    }
    &.footer-link--instagram{ 
        background-position: -119px -31px;
        &:hover{
            background-position: -119px -62px;
        }
    }
}